BASE_KEMENLH_API=https://ispu.kemenlh.go.id/apimobile/v1/getStations
BASE_BMKG_API=https://api.bmkg.go.id/publik/prakiraan-cuaca
BASE_NOMINATIM_API=https://nominatim.openstreetmap.org/reverse

BASE_CCTV_CHART1_API=https://apace-ai.com/generateChart1Data/
BASE_CCTV_CHART2_API=https://apace-ai.com/generateChart2Data/
BASE_CCTV_CHART3_API=https://apace-ai.com/generateChart3Data/